In [84]:
f = open("BIAT.txt", "r")
print(f.read())

Suite C  un renforcement de la sC)curitC) de votre site BIATNET, veuillez mettre C  jour votre navigateur Web en cas de problC(me db accC(s C  lb affichage de la page principale

Mme BEN AMOR DORSAF



Comptes / Placements
Virements
TC)lC)chargement
Portefeuille
International
Autres

.././plaf/images/BIAT/new/BiatEpargneDisponible.jpg


Extrait de compte
Compte numC)ro :	51-10-97887/3	STE OPALIA PHARMA S.
Devise :	TND
Date valeur
LibellC) opC)ration
RC)fC)rence
Date opC)ration
Montant
Solde dC)part au 28 JUN 22			6 823 602,507
28 JUN 22	TVA sur Com	CHG22179WON5O	28 JUN 22	-1,900

28 JUN 22	COM DOM TCE	CHG22179WON5O	28 JUN 22	-10,000
29 JUN 22	Encaissement effet tunisie	FT22179504113046\S98	28 JUN 22	25 445,101
009344500529
29 JUN 22	Encaissement effet tunisie	FT22179598886344\S98	28 JUN 22	192 197,564
009140366260
27 JUN 22	Reglement cheque no	FT22179034703388	28 JUN 22	-6 000,000
0001277 F/ AS TN DERMATOLOGIE
VENEROLOGI
30 JUN 22	Credit Divers	FT22180500696836	29 JUN 22	99 763,824
Chq Telec A Enc Cre Global/borde : 2980894
24 JUN 22	Debit Divers	FT22180902234108	29 JUN 22	-1,785
Commission CHQ A Enc/Bordereau : 2980894
28 JUN 22	Reglement cheque no	FT22180830828911	29 JUN 22	-252,999
0001288 F/ SOCIETE 4MK DIGITAL
PRINT
29 JUN 22	Blocage de fonds	FT22180774000390	29 JUN 22	-12 851,173
RI2217900156 **
Solde fin au 29 JUN 22 C  10:00			7 121 891,139
Solde disponible au 29 JUN 22 C  10:00			7 121 891,139
Sauf erreur ou omission de notre part

BIATB) 2015. Tous les droits sont rC)servC)s.

In [151]:
file_obj = open("BIAT.txt", "r")
  
# reading the data from the file
file_data = file_obj.read()
  
# splitting the file data into lines
lines = file_data.splitlines()
print(lines)
file_obj.close()

['', 'Suite C  un renforcement de la sC)curitC) de votre site BIATNET, veuillez mettre C  jour votre navigateur Web en cas de problC(me db \x19accC(s C  lb \x19affichage de la page principale', ' ', 'Mme BEN AMOR DORSAF\t', ' ', ' ', ' ', 'Comptes / Placements', 'Virements', 'TC)lC)chargement', 'Portefeuille', 'International', 'Autres', ' ', '.././plaf/images/BIAT/new/BiatEpargneDisponible.jpg', '', ' ', 'Extrait de compte\t', 'Compte numC)ro :\t51-10-97887/3\tSTE OPALIA PHARMA S.', 'Devise :\tTND', 'Date valeur\t', 'LibellC) opC)ration\t', 'RC)fC)rence\t', 'Date opC)ration\t', 'Montant\t', 'Solde dC)part au 28 JUN 22\t\t\t6 823 602,507', '28 JUN 22\tTVA sur Com\tCHG22179WON5O\t28 JUN 22\t-1,900', 'REF : NUM TCE : 6088602\t\t\t', '28 JUN 22\tCOM DOM TCE\tCHG22179WON5O\t28 JUN 22\t-10,000', '29 JUN 22\tEncaissement effet tunisie\tFT22179504113046\\S98\t28 JUN 22\t25 445,101', '009344500529\t\t\t', '29 JUN 22\tEncaissement effet tunisie\tFT22179598886344\\S98\t28 JUN 22\t192 197,564', '009140366260\t\t\t', '27 JUN 22\tReglement cheque no\tFT22179034703388\t28 JUN 22\t-6 000,000', '0001277 F/ AS TN DERMATOLOGIE\t\t\t', 'VENEROLOGI\t\t\t', '30 JUN 22\tCredit Divers\tFT22180500696836\t29 JUN 22\t99 763,824', 'Chq Telec A Enc Cre Global/borde : 2980894\t\t\t', '24 JUN 22\tDebit Divers\tFT22180902234108\t29 JUN 22\t-1,785', 'Commission CHQ A Enc/Bordereau : 2980894\t\t\t', '28 JUN 22\tReglement cheque no\tFT22180830828911\t29 JUN 22\t-252,999', '0001288 F/ SOCIETE 4MK DIGITAL\t\t\t', 'PRINT\t\t\t', '29 JUN 22\tBlocage de fonds\tFT22180774000390\t29 JUN 22\t-12 851,173', 'RI2217900156 **\t\t\t', 'Solde fin au 29 JUN 22 C  10:00\t\t\t7 121 891,139', 'Solde disponible au 29 JUN 22 C  10:00\t\t\t7 121 891,139', 'Sauf erreur ou omission de notre part\t\t\t', '', 'BIATB) 2015. Tous les droits sont rC)servC)s.']

In [2]:
lines[47]

'Sauf erreur ou omission de notre part\t\t\t'

In [86]:
lines.index('Montant\t')

24

In [218]:
import pandas as pd
import openpyxl

In [245]:
df = pd.DataFrame()

In [246]:
df

Empty DataFrame
Columns: []
Index: []

In [80]:
index=lines.index('Montant\t')

In [81]:
lines[index+3].split('\t')

['REF : NUM TCE : 6088602', '', '', '']

In [124]:
df

Empty DataFrame
Columns: [Date valeur, Libelle operation, Référence, Date opération, Montant]
Index: []

In [233]:
list_date_valeur=[]
list_Libelle_operation=[]
list_Reference=[]
list_Date_opération=[]
list_Montant=[]

In [234]:
index=lines.index('Montant\t')+1
i=0
list=[i for i in lines[index].split('\t') if i]

In [235]:
index

25

In [236]:
while index<len(lines)-3:
    if len(list)==5:
        list_date_valeur.append(list[0])
        list_Libelle_operation.append(list[1])
        list_Reference.append(list[2])
        list_Date_opération.append(list[3])
        list_Montant.append(list[4])
        i=i+1
        index=index+1
        print(index)
        print(list_date_valeur)
        list = [j for j in lines[index].split('\t') if j]
    elif len(list)==2:
        list_Libelle_operation.append(list[0])
        list_Montant.append(list[1])
        list_Reference.append('Nan')
        list_Date_opération.append('Nan')
        list_date_valeur.append(list[0])
        i=i+1
        index=index+1
        list = [j for j in lines[index].split('\t') if j]
        
            
    elif len(list)==1:
        if len(list_Libelle_operation)>=1:
            
            value=list_Libelle_operation[-1]+list[0]
            print('thisisvalue',value)
            list_Libelle_operation.pop()
            list_Libelle_operation.append(value)
            index=index+1
            list = [j for j in lines[index].split('\t') if j]
            
        else:
            list_Libelle_operation.append(list[0])
            index=index+1
            list = [j for j in lines[index].split('\t') if j]
            
    elif len(list)==0:
        index=index+1
        i=i+1
        list = [j for j in lines[index].split('\t') if j]

27
['Solde dC)part au 28 JUN 22', '28 JUN 22']
thisisvalue TVA sur ComREF : NUM TCE : 6088602
29
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22']
30
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22']
thisisvalue Encaissement effet tunisie009344500529
32
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22', '29 JUN 22']
thisisvalue Encaissement effet tunisie009140366260
34
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22', '29 JUN 22', '27 JUN 22']
thisisvalue Reglement cheque no0001277 F/ AS TN DERMATOLOGIE
thisisvalue Reglement cheque no0001277 F/ AS TN DERMATOLOGIEVENEROLOGI
37
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22', '29 JUN 22', '27 JUN 22', '30 JUN 22']
thisisvalue Credit DiversChq Telec A Enc Cre Global/borde : 2980894
39
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22', '29 JUN 22', '27 JUN 22', '30 JUN 22', '24 JUN 22']
thisisvalue Debit DiversCommission CHQ A Enc/Bordereau : 2980894
41
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22', '29 JUN 22', '27 JUN 22', '30 JUN 22', '24 JUN 22', '28 JUN 22']
thisisvalue Reglement cheque no0001288 F/ SOCIETE 4MK DIGITAL
thisisvalue Reglement cheque no0001288 F/ SOCIETE 4MK DIGITALPRINT
44
['Solde dC)part au 28 JUN 22', '28 JUN 22', '28 JUN 22', '29 JUN 22', '29 JUN 22', '27 JUN 22', '30 JUN 22', '24 JUN 22', '28 JUN 22', '29 JUN 22']
thisisvalue Blocage de fondsRI2217900156 **

In [196]:
list_Reference

['Nan',
 'CHG22179WON5O',
 'CHG22179WON5O',
 'FT22179504113046\\S98',
 'FT22179598886344\\S98',
 'FT22179034703388',
 'FT22180500696836',
 'FT22180902234108',
 'FT22180830828911',
 'FT22180774000390',
 'Nan',
 'Nan']

In [197]:
list_date_valeur

['Solde dC)part au 28 JUN 22',
 '28 JUN 22',
 '28 JUN 22',
 '29 JUN 22',
 '29 JUN 22',
 '27 JUN 22',
 '30 JUN 22',
 '24 JUN 22',
 '28 JUN 22',
 '29 JUN 22',
 'Solde fin au 29 JUN 22 C  10:00',
 'Solde disponible au 29 JUN 22 C  10:00']

In [198]:
list_Reference

['Nan',
 'CHG22179WON5O',
 'CHG22179WON5O',
 'FT22179504113046\\S98',
 'FT22179598886344\\S98',
 'FT22179034703388',
 'FT22180500696836',
 'FT22180902234108',
 'FT22180830828911',
 'FT22180774000390',
 'Nan',
 'Nan']

In [237]:
len(list_Date_opération)

12

In [238]:
len(list_Montant)

12

In [239]:
len(list_Libelle_operation)

12

In [240]:
len(list_Reference)

12

In [241]:
len(list_date_valeur)

12

In [248]:
df.insert(0, "Montant",list_Montant,allow_duplicates=True)
df.insert(0, "Date opération",list_Date_opération,allow_duplicates=True)
df.insert(0, "Référence",list_Reference,allow_duplicates=True)
df.insert(0, "Libelle operation",list_Libelle_operation,allow_duplicates=True)
df.insert(0, "Date valeur", list_date_valeur,allow_duplicates=True)

In [249]:
df

,Date valeur,Libelle operation,Référence,Date opération,Montant
0,Solde dC)part au 28 JUN 22,Solde dC)part au 28 JUN 22,Nan,Nan,"6 823 602,507"
1,28 JUN 22,TVA sur ComREF : NUM TCE : 6088602,CHG22179WON5O,28 JUN 22,"-1,900"
2,28 JUN 22,COM DOM TCE,CHG22179WON5O,28 JUN 22,"-10,000"
3,29 JUN 22,Encaissement effet tunisie009344500529,FT22179504113046\S98,28 JUN 22,"25 445,101"
4,29 JUN 22,Encaissement effet tunisie009140366260,FT22179598886344\S98,28 JUN 22,"192 197,564"
5,27 JUN 22,Reglement cheque no0001277 F/ AS TN DERMATOLOG...,FT22179034703388,28 JUN 22,"-6 000,000"
6,30 JUN 22,Credit DiversChq Telec A Enc Cre Global/borde ...,FT22180500696836,29 JUN 22,"99 763,824"
7,24 JUN 22,Debit DiversCommission CHQ A Enc/Bordereau : 2...,FT22180902234108,29 JUN 22,"-1,785"
8,28 JUN 22,Reglement cheque no0001288 F/ SOCIETE 4MK DIGI...,FT22180830828911,29 JUN 22,"-252,999"
9,29 JUN 22,Blocage de fondsRI2217900156 **,FT22180774000390,29 JUN 22,"-12 851,173"
10,Solde fin au 29 JUN 22 C 10:00,Solde fin au 29 JUN 22 C 10:00,Nan,Nan,"7 121 891,139"
11,Solde disponible au 29 JUN 22 C 10:00,Solde disponible au 29 JUN 22 C 10:00,Nan,Nan,"7 121 891,139"

In [250]:
df.to_excel('BIAT.xlsx')