In [84]:
f = open("BIAT.txt", "r")
print(f.read())

Suite C  un renforcement de la sC)curitC) de votre site BIATNET, veuillez mettre C  jour votre navigateur Web en cas de problC(me db accC(s C  lb affichage de la page principale

Mme BEN AMOR DORSAF



Comptes / Placements
Virements
TC)lC)chargement
Portefeuille
International
Autres

.././plaf/images/BIAT/new/BiatEpargneDisponible.jpg


Extrait de compte
Compte numC)ro :	51-10-97887/3	STE OPALIA PHARMA S.
Devise :	TND
Date valeur
LibellC) opC)ration
RC)fC)rence
Date opC)ration
Montant
Solde dC)part au 28 JUN 22			6 823 602,507
28 JUN 22	TVA sur Com	CHG22179WON5O	28 JUN 22	-1,900

28 JUN 22	COM DOM TCE	CHG22179WON5O	28 JUN 22	-10,000
29 JUN 22	Encaissement effet tunisie	FT22179504113046\S98	28 JUN 22	25 445,101
009344500529
29 JUN 22	Encaissement effet tunisie	FT22179598886344\S98	28 JUN 22	192 197,564
009140366260
27 JUN 22	Reglement cheque no	FT22179034703388	28 JUN 22	-6 000,000
0001277 F/ AS TN DERMATOLOGIE
VENEROLOGI
30 JUN 22	Credit Divers	FT22180500696836	29 JUN 22	99 763,824
Chq Telec A Enc Cre Global/borde : 2980894
24 JUN 22	Debit Divers	FT22180902234108	29 JUN 22	-1,785
Commission CHQ A Enc/Bordereau : 2980894
28 JUN 22	Reglement cheque no	FT22180830828911	29 JUN 22	-252,999
0001288 F/ SOCIETE 4MK DIGITAL
PRINT
29 JUN 22	Blocage de fonds	FT22180774000390	29 JUN 22	-12 851,173
RI2217900156 **
Solde fin au 29 JUN 22 C  10:00			7 121 891,139
Solde disponible au 29 JUN 22 C  10:00			7 121 891,139
Sauf erreur ou omission de notre part

BIATB) 2015. Tous les droits sont rC)servC)s.

In [85]:
file_obj = open("BIAT.txt", "r")
  
# reading the data from the file
file_data = file_obj.read()
  
# splitting the file data into lines
lines = file_data.splitlines()
print(lines)
file_obj.close()

['', 'Suite C  un renforcement de la sC)curitC) de votre site BIATNET, veuillez mettre C  jour votre navigateur Web en cas de problC(me db \x19accC(s C  lb \x19affichage de la page principale', ' ', 'Mme BEN AMOR DORSAF\t', ' ', ' ', ' ', 'Comptes / Placements', 'Virements', 'TC)lC)chargement', 'Portefeuille', 'International', 'Autres', ' ', '.././plaf/images/BIAT/new/BiatEpargneDisponible.jpg', '', ' ', 'Extrait de compte\t', 'Compte numC)ro :\t51-10-97887/3\tSTE OPALIA PHARMA S.', 'Devise :\tTND', 'Date valeur\t', 'LibellC) opC)ration\t', 'RC)fC)rence\t', 'Date opC)ration\t', 'Montant\t', 'Solde dC)part au 28 JUN 22\t\t\t6 823 602,507', '28 JUN 22\tTVA sur Com\tCHG22179WON5O\t28 JUN 22\t-1,900', '\t\t', '28 JUN 22\tCOM DOM TCE\tCHG22179WON5O\t28 JUN 22\t-10,000', '29 JUN 22\tEncaissement effet tunisie\tFT22179504113046\\S98\t28 JUN 22\t25 445,101', '009344500529\t\t\t', '29 JUN 22\tEncaissement effet tunisie\tFT22179598886344\\S98\t28 JUN 22\t192 197,564', '009140366260\t\t\t', '27 JUN 22\tReglement cheque no\tFT22179034703388\t28 JUN 22\t-6 000,000', '0001277 F/ AS TN DERMATOLOGIE\t\t\t', 'VENEROLOGI\t\t\t', '30 JUN 22\tCredit Divers\tFT22180500696836\t29 JUN 22\t99 763,824', 'Chq Telec A Enc Cre Global/borde : 2980894\t\t\t', '24 JUN 22\tDebit Divers\tFT22180902234108\t29 JUN 22\t-1,785', 'Commission CHQ A Enc/Bordereau : 2980894\t\t\t', '28 JUN 22\tReglement cheque no\tFT22180830828911\t29 JUN 22\t-252,999', '0001288 F/ SOCIETE 4MK DIGITAL\t\t\t', 'PRINT\t\t\t', '29 JUN 22\tBlocage de fonds\tFT22180774000390\t29 JUN 22\t-12 851,173', 'RI2217900156 **\t\t\t', 'Solde fin au 29 JUN 22 C  10:00\t\t\t7 121 891,139', 'Solde disponible au 29 JUN 22 C  10:00\t\t\t7 121 891,139', 'Sauf erreur ou omission de notre part\t\t\t', '', 'BIATB) 2015. Tous les droits sont rC)servC)s.']

In [60]:
lines[47]

'Sauf erreur ou omission de notre part\t\t\t'

In [86]:
lines.index('Montant\t')

24

In [21]:
import pandas as pd
import openpyxl

In [22]:
df = pd.DataFrame()

In [50]:
list=lines[46].split('\t')
list

['Solde disponible au 29 JUN 22 C  10:00', '', '', '7 121 891,139']

In [53]:
list=lines[index+1].split('\t')
list

['Solde dC)part au 28 JUN 22', '', '', '6 823 602,507']

In [32]:
lines[25].splitlines()

['Solde dC)part au 28 JUN 22\t\t\t6 823 602,507']

In [24]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [27]:
df = pd.DataFrame(columns=['Date valeur','Libelle operation','Référence','Date opération','Montant'])

In [28]:
df

Empty DataFrame
Columns: [Date valeur, Libelle operation, Référence, Date opération, Montant]
Index: []

In [95]:
index=lines.index('Montant\t')

In [88]:
lines[index+3].split('\t')

['', '', '']

In [94]:
df

Empty DataFrame
Columns: [Date valeur, Libelle operation, Référence, Date opération, Montant]
Index: []

In [97]:
test_list = [j for j in lines[index+3].split('\t') if j]

In [98]:
len(test_list)

0

In [107]:
df['Libelle operation'][0]

IndexError: index out of bounds

In [ ]:
df.insert(0, "col0", list[0], index=i))

In [ ]:
list_date_valeur=[]
list_Libelle_operation=[]
list_Reference=[]
list_Date_opération=[]
list_Montant=[]

In [ ]:
index=lines.index('Montant\t')
i=0
list=[i for i in lines[index+1].split('\t') if i]
print(list)
while index<len(lines):
    if len(list)==5:
        list=lines[index].split('\t')
        list_date_valeur.append(list[0])
        list_Libelle_operation.append(list[1])
        list_Reference.append(list[2])
        list_Date_opération.append(list[3])
        list_Montant.append(list[4])
        i=i+1
        index=index+1
        list = [j for j in lines[index].split('\t') if j]
    elif len(list)==2:
        list_Libelle_operation.append(list[0])
        list_Montant.append(list[1])
        i=i+1
        index=index+1
        list = [j for j in lines[index].split('\t') if j]
    elif len(list)==1:
        list_Libelle_operation.append(list[0])
    elif len(list)==0:
        index=index+1
        i=i+1
        list = [j for j in lines[index].split('\t') if j]

In [ ]:
list_date_valeur

In [ ]:
df.insert(0, "Date valeur", [100, 100], allow_duplicates=True)